<a href="https://colab.research.google.com/github/griselporras/ActividadFormativaM2-Equipo4/blob/main/Reto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/Shareddrives/Análisis de ciencia de datos/Reto/BD RIIEE 2021.csv')
df

,Fecha Acción,PEA,Año Acción,Periodo Acción,País,Tipo de Acción,Acción,ID Evento,Nombre Evento,Institución Acción,...,Apto,Destacado,Ingresados Si/No,Encuadre de Ingreso,Dirección,Área,Potencial Vigente,Información Real/No Real,Vacante Postulada,Ingresó
0,01/01/2021,PEA 20-21,2021.0,Enero-Junio,México,Targetizada,Ternium Contact,1.202101e+10,Evento,TM,...,Apto,Si,Si,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2021,PEA 20-21,2021.0,Enero-Junio,México,Targetizada,Ternium Contact,1.202101e+10,Evento 4,U,...,Apto,Si,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/01/2021,PEA 20-21,2021.0,Enero-Junio,México,Targetizada,Ternium Contact,1.202101e+10,Evento 5,U,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01/01/2021,PEA 20-21,2021.0,Enero-Junio,México,Targetizada,Ternium Contact,1.202101e+10,Evento 0,IY,...,Apto,Si,Si,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/01/2021,PEA 20-21,2021.0,Enero-Junio,México,Targetizada,Ternium Contact,1.202101e+10,Evento 4,TM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Comprensión de los datos del negocio

In [ ]:
df.columns

Index(['Fecha Acción', 'PEA', 'Año Acción', 'Periodo Acción', 'País',
       'Tipo de Acción ', 'Acción', 'ID Evento', 'Nombre Evento',
       'Institución Acción', 'Referente Ternium', 'Embajador Ternium',
       'ID Candidato', 'Correo electrónico', 'Correo institucional', 'Nombres',
       'Apellidos', 'Género', 'Nacionalidad', 'Universidad',
       'Carrera/Titulación', 'Carrera Gestional', 'Especialidad', 'Avance',
       'Semestres Totales', 'Status Académico', 'Postulados Si/No',
       'Evaluados Si/No', 'VIPS', 'NIPS', 'Inglés', 'Actividad Grupal',
       'Multimodelo Pymetrics', 'Perfil Pymetrics', 'Altamente Recomendado',
       'Operaciones-Calidad', 'MTTO-DIMA', 'Comercial-Planeamiento', 'DIGI-SC',
       'Resto-Soft', 'Apto/No Apto', 'Destacado Pym', 'Actividad Grupal.1',
       'Apto AG', 'Destacado AG', 'Ingles', 'Apto', 'Destacado',
       'Ingresados Si/No', 'Encuadre de Ingreso', 'Dirección', 'Área',
       'Potencial Vigente', 'Información Real/No Real', 'Vacante Postulada',
       'Ingresó'],
      dtype='object')

In [ ]:
df.shape

(5853, 56)

In [ ]:
df.size

327768

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5853 entries, 0 to 5852
Data columns (total 56 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Fecha Acción              5742 non-null   object
 1   PEA                       5742 non-null   object
 2   Año Acción                5742 non-null   float64
 3   Periodo Acción            5189 non-null   object
 4   País                      5742 non-null   object
 5   Tipo de Acción            5742 non-null   object
 6   Acción                    5742 non-null   object
 7   ID Evento                 2593 non-null   float64
 8   Nombre Evento             5742 non-null   object
 9   Institución Acción        5742 non-null   object
 10  Referente Ternium         965 non-null    object
 11  Embajador Ternium         0 non-null      float64
 12  ID Candidato              2593 non-null   float64
 13  Correo electrónico        5741 non-null   object
 14  Correo institucional      5741 non-null   object
 15  Nombres                   5741 non-null   object
 16  Apellidos                 5741 non-null   object
 17  Género                    5741 non-null   object
 18  Nacionalidad              3148 non-null   object
 19  Universidad               5742 non-null   object
 20  Carrera/Titulación        5147 non-null   object
 21  Carrera Gestional         5383 non-null   object
 22  Especialidad              4703 non-null   object
 23  Avance                    4371 non-null   object
 24  Semestres Totales         3639 non-null   object
 25  Status Académico          2595 non-null   object
 26  Postulados Si/No          1486 non-null   object
 27  Evaluados Si/No           1192 non-null   object
 28  VIPS                      144 non-null    float64
 29  NIPS                      144 non-null    float64
 30  Inglés                    0 non-null      float64
 31  Actividad Grupal          0 non-null      float64
 32  Multimodelo Pymetrics     0 non-null      float64
 33  Perfil Pymetrics          1102 non-null   object
 34  Altamente Recomendado     239 non-null    object
 35  Operaciones-Calidad       875 non-null    object
 36  MTTO-DIMA                 875 non-null    object
 37  Comercial-Planeamiento    875 non-null    object
 38  DIGI-SC                   875 non-null    object
 39  Resto-Soft                875 non-null    object
 40  Apto/No Apto              432 non-null    object
 41  Destacado Pym             224 non-null    object
 42  Actividad Grupal.1        467 non-null    object
 43  Apto AG                   91 non-null     object
 44  Destacado AG              0 non-null      float64
 45  Ingles                    202 non-null    object
 46  Apto                      212 non-null    object
 47  Destacado                 97 non-null     object
 48  Ingresados Si/No          83 non-null     object
 49  Encuadre de Ingreso       0 non-null      float64
 50  Dirección                 0 non-null      float64
 51  Área                      0 non-null      float64
 52  Potencial Vigente         0 non-null      float64
 53  Información Real/No Real  0 non-null      float64
 54  Vacante Postulada         0 non-null      float64
 55  Ingresó                   0 non-null      float64
dtypes: float64(17), object(39)
memory usage: 2.5+ MB

In [ ]:
df.describe()

,Año Acción,ID Evento,Embajador Ternium,ID Candidato,VIPS,NIPS,Inglés,Actividad Grupal,Multimodelo Pymetrics,Destacado AG,Encuadre de Ingreso,Dirección,Área,Potencial Vigente,Información Real/No Real,Vacante Postulada,Ingresó
count,5742.0,2.593000e+03,0.0,2.593000e+03,144.000000,144.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2021.0,2.211813e+08,NaN,1.868145e+08,64.340278,77.375000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,1.091741e+09,NaN,8.923400e+07,28.600739,23.720952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2021.0,1.202102e+08,NaN,1.022100e+07,7.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2021.0,1.202103e+08,NaN,1.304215e+08,48.000000,66.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2021.0,1.202104e+08,NaN,1.904212e+08,76.000000,86.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2021.0,1.202104e+08,NaN,2.303210e+08,86.000000,93.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2021.0,1.202101e+10,NaN,1.012101e+09,99.000000,99.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Exploración de los datos

Variables cuantitativas:

- Medidas de tendencia central:promedio, media, mediana y moda de los datos.
- Medidas de dispersión: rango: máximo - mínimo, varianza, desviación estándar.

In [ ]:
df.mean(numeric_only= True)

Año Acción                  2.021000e+03
ID Evento                   2.211813e+08
Embajador Ternium                    NaN
ID Candidato                1.868145e+08
VIPS                        6.434028e+01
NIPS                        7.737500e+01
Inglés                               NaN
Actividad Grupal                     NaN
Multimodelo Pymetrics                NaN
Destacado AG                         NaN
Encuadre de Ingreso                  NaN
Dirección                            NaN
Área                                 NaN
Potencial Vigente                    NaN
Información Real/No Real             NaN
Vacante Postulada                    NaN
Ingresó                              NaN
dtype: float64

In [ ]:
df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Año Acción                       2021.0
ID Evento                   120210413.0
Embajador Ternium                   NaN
ID Candidato                190421191.0
VIPS                               76.0
NIPS                               86.0
Inglés                              NaN
Actividad Grupal                    NaN
Multimodelo Pymetrics               NaN
Destacado AG                        NaN
Encuadre de Ingreso                 NaN
Dirección                           NaN
Área                                NaN
Potencial Vigente                   NaN
Información Real/No Real            NaN
Vacante Postulada                   NaN
Ingresó                             NaN
dtype: float64

Variables cualitativas

In [ ]:
df.groupby('País').agg(frequency=("País", "count"))


# 'Fecha Acción', 'PEA', 'Año Acción', 'Periodo Acción', 'País',
#        'Tipo de Acción ', 'Acción', 'ID Evento', 'Nombre Evento',
#        'Institución Acción', 'Referente Ternium', 'Embajador Ternium',
#        'ID Candidato', 'Correo electrónico', 'Correo institucional', 'Nombres',
#        'Apellidos', 'Género', 'Nacionalidad', 'Universidad',
#        'Carrera/Titulación', 'Carrera Gestional', 'Especialidad', 'Avance',
#        'Semestres Totales', 'Status Académico', 'Postulados Si/No',
#        'Evaluados Si/No', 'VIPS', 'NIPS', 'Inglés', 'Actividad Grupal',
#        'Multimodelo Pymetrics', 'Perfil Pymetrics', 'Altamente Recomendado',
#        'Operaciones-Calidad', 'MTTO-DIMA', 'Comercial-Planeamiento', 'DIGI-SC',
#        'Resto-Soft', 'Apto/No Apto', 'Destacado Pym', 'Actividad Grupal.1',
#        'Apto AG', 'Destacado AG', 'Ingles', 'Apto', 'Destacado',
#        'Ingresados Si/No', 'Encuadre de Ingreso', 'Dirección', 'Área',
#        'Potencial Vigente', 'Información Real/No Real', 'Vacante Postulada',
#        'Ingresó'



# iris 
#   .groupby("species")
#   .agg(frequency=("species", "count")))

           País
frequency  5742